In [2]:
import pandas as pd
import numpy as np

# Clean the candlestick data

In [3]:
ohlcv = pd.read_csv("btc_usdt_ohlcv_1h_5years.csv")

In [4]:
ohlcv.shape

(46460, 6)

In [5]:
ohlcv.isna().sum()

timestamp    0
open         0
high         0
low          0
close        0
volume       0
dtype: int64

In [6]:
ohlcv.sample(n=5)

                 timestamp     open     high      low    close     volume
25315  2022-07-27 10:00:00  21284.6  21325.0  21240.9  21277.9  12818.451
23033  2022-04-23 12:00:00  39583.3  39762.9  39506.2  39670.0   8400.405
43814  2024-09-03 16:00:00  57695.1  57900.0  57630.0  57678.1   9717.155
25054  2022-07-16 13:00:00  20686.1  20850.0  20672.0  20827.8  28860.105
30699  2023-03-08 07:00:00  22015.0  22028.4  21951.3  21962.2  10448.074

In [7]:
ohlcv.describe()

,open,high,low,close,volume
count,46460.000000,46460.000000,46460.000000,46460.000000,46460.000000
mean,34334.511614,34491.915990,34170.600074,34336.357737,14774.498800
std,21146.496148,21239.254915,21049.868719,21148.123174,16489.470287
min,4062.950000,4598.000000,3621.810000,4062.890000,0.000000
25%,16953.725000,16997.650000,16921.850000,16953.800000,5586.844750
50%,29979.000000,30105.400000,29869.800000,29979.200000,9781.185500
75%,48589.365000,48860.367500,48304.490000,48588.417500,17790.493500
max,108220.200000,108366.800000,107076.600000,108220.300000,355275.447000